@font-face {
    font-family: 'Noto Sans';
    src:url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family: 'Noto Sans Bold';
    src:url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Franko';
    src:url('../fonts/SVN-Franko.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
}
body{
    font-family: 'Noto Sans';
    color: #fff;
}
a,p{
    color: #fff;
}
a:hover{
    color:#f3c557;
}
.txt-color{
    background: -webkit-linear-gradient(#9f7700, #f3c557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{max-width: 100%;}
ul{
    list-style: none;
    padding-left: 0px;
}
p{
    margin-bottom: 10px;
}
h3.title{
    position: relative;
    padding-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3.title:before{
    position: absolute;
    top: -10px;
    left: 0px;
    content: '';
    width: 84px;
    height: 84px;
    display: inline-block;
    background: url('../images/sprite.png') -8px -53px no-repeat;
}
.header-top{
    background: url('../images/bg-menu.png');
}
.ntf-banner{
	position: relative;
}
.ntf-banner .btn-video{
	position: absolute;
	left: 50%;
	bottom: -5px;
}
.js-modal-btn{
	display: block;
	cursor: pointer;
    margin: 0 auto;
}

.ntf-banner >img{
    width: 100%;
}
.top-link{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5px;
    position: relative;
}
.top-link .logo{
    width: 90px;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 9;
}
.top-link .link a{
    margin-right: 10px;
    font-size: 14px;
    position: relative;
    font-family: 'Franko';
}
.top-link .link a.active{
    color: #ffff12;
}
.top-link .link a:after{
    content: '';
    width: 2px;
    height: 20px;
    background: url("../images/bg-border.png");
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 0px;
}
.top-link .link a:last-of-type:after{
    display: none;
}
.top-link button{
    padding: 0px;
    border: none;
    background: none;
}
.header-top nav{
    color: #fff;

}
.header-bottom{
    background: url('../images/bg-menu.png');
    height: 44px;
    width: 100%;
}
.ntf-land-survival .left-content p{
    text-align:justify;
}
.ntf-land-survival .left-content{
    margin-bottom: 20px;
}
.ntf-land-survival .img-gunner{
    text-align: center;
}
.reward{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.reward .img-reward{
    margin-bottom: 30px;
    width: 100%;
}

.reward .img-reward img{
    height: 223px
}

.reward h5{
    margin: 20px 0px;
    background: -webkit-linear-gradient(#9f7700, #f3c557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Noto Sans Bold';
}
.btn-download{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
}
.btn-download a{
    margin-right: 5px;
}

.heroes-content,.ntf-land-survival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.heroes-content .illustration-img{
    width: 100%;
}

.heroes-content .illustration-img img{
    margin-bottom: 20px;
    display: none;
}
.heroes-content .illustration-img img.active{
    display: block;
}
.heroes-content .right-content{
    width: 100%;
}
.heroes-summary {
    margin: 20px 0px;
    display: none;
}
.heroes-summary.active {
    display: block;
}
.game-heroes .heroes-slider .item{
    cursor: pointer;
}
.game-heroes .heroes-slider .item img{
    filter: grayscale(100%)
}
.game-heroes .heroes-slider .item.hightlight img{
    filter: grayscale(0)
}
.heroes-summary p{
    line-height: 36px;
}
.heroes-summary h5{
    font-family: 'Noto Sans Bold';
}
.news-slider {
    text-align: center;
}
.wrap-slider{
    position: relative;
}
.btns-slider{
    position: absolute;
    left: 10px;
    top: 40%;
    width: 100%;
    z-index: 99;
}
.customPreviousBtn,.customNextBtn{
    cursor: pointer;
}
.customNextBtn{
    right: 10px;
    left: auto;
    position: absolute;
}
.game-play .btns-slider,.game-heroes .btns-slider{
    position: relative;
    text-align: center;
    margin-top: 25px;
}
.game-heroes .btns-slider{
    text-align: left;
}
.game-play .customNextBtn,.game-heroes .customNextBtn{
    right: auto;
}
.game-play .customNextBtn{
	position: relative;
}
.news-slider p{
    margin-bottom: 18px;
    line-height: 36px;
    padding: 0px 15px 10px 15px;

}
.btns-slider{
    position: absolute;
    left: 0px;
}
.news-slider .item{
    background: rgba(66, 57, 47, 0.5);
    position: relative;
}
.news-slider .item img{
    margin-bottom: 20px;
}
.list-member{
    text-align: center;
}
.list-member .item {
    padding: 0px 4px 20px 0px;
}
.list-member .item p{
    color: #fff;
}
.list-member .item h4{
    font-family: 'Noto Sans Bold';
    background: -webkit-linear-gradient(#9f7700, #f3c557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-member .item img{
    display: block;
    margin: 20px auto;
    width: 140px;

}
.list-member .item img:first-of-type{
    border-radius: 100%;
}

.ntf-table .tb-title{
    color: #f2c454;
    font-family: 'Noto Sans Bold';
}
.ntf-table,.list-member{
    display: flex;
    flex-wrap: wrap;
}
.ntf-table table{
    color: #fff;
    width: 100%;
}
.ntf-table .img-faq{
    width: 100%;
}
.ntf-table table td{
    font-size: 14px;
    padding: 10px;
}
#main-content{
    background: linear-gradient(#381f0a 2%,#251b19 4%,#151515 9%);
}
.faq{
    background: linear-gradient(#151515,#251b19, #381f0a);
    padding: 30px 0px;
}
.our-teams{
    clear: both;
}
footer{
    background: #151515;
    color: #fff;
    padding: 30px 0px;
}
footer .title{
    margin-bottom: 30px;
}
footer a,footer p{
    font-size: 13px;
}
.logo-footer{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.logo-footer .contact,.logo-footer .contact a{
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
    margin-top: 5px;
}

.links-footer,.social-footer,.download-app{
    width: 33%;

}
.links-footer{
    width: 25%;
}

.download-app .title img{
    margin-top: 4px;
}

footer .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .links li{
    margin-bottom: 20px;
}

footer .social li a{
    position: relative;
    padding-left: 35px;
}
footer .social li a span{
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -11px;
    zoom: 0.7;
}
footer .social li a .news{
    background: url('../images/sprite.png') -98px 2px no-repeat
}
footer .social li a .discord{
    background: url('../images/sprite.png') -15px 2px no-repeat
}
footer .social li a .telegram{
    background: url('../images/sprite.png') -145px 2px no-repeat
}
footer .social li a .twitter{
    background: url('../images/sprite.png') -203px 2px no-repeat
}
footer .social li a .facebook{
    background: url('../images/sprite.png') -51px -4px no-repeat
}
footer .social li a .youtube{
    background: url('../images/sprite.png') -262px 6px no-repeat
}
.ps-timeline-sec {
    position: relative;

}
.ps-timeline-sec .container {
    position: relative;
}
.ps-timeline-sec .container ol.ps-timeline {
    padding: 0;
    border-top: 3px solid #fff;
    list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline >li {
    float: left;
    width: 20%;
    padding-top: 30px;
    position: relative;
    top: -3px;
}
.ps-timeline-sec .container ol.ps-timeline >li.active {
    border-top: 3px solid #ffe879;
}
.ps-timeline-sec .container ol.ps-timeline >li span {
    width: 48px;
    height: 48px;
    margin-left: -25px;
    background: #fff;
    box-shadow: 0 0 0 0px #fff;
    text-align: center;
    line-height: 50px -10;
    color: #df8625;
    font-style: normal;
    position: absolute;
    top: -22px;
    left: 30%;
    background: url("../images/timeline.png") no-repeat;
}
.ps-timeline-sec .container ol.ps-timeline >li.active span{
    background: url("../images/timeline-active.png") no-repeat;
    left:1px!important;
}

.ps-timeline-sec .container ol.ps-timeline >li .img-handler-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    width: 100%;
    left: 10px;
    top: -57px;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-top img {
    display: table;
    margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot {
    position: absolute;
    margin-top: 60px;
    width: 100%;
}
.ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot img {
    display: table;
    margin: 0 auto;
}
.ps-timeline-sec .container ol.ps-timeline >li p {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-family: 'Noto Sans Bold';
}
.ps-timeline-sec .container ol.ps-timeline >li.active .img-handler-top p{
    background: -webkit-linear-gradient(#9f7700, #f3c557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.ps-timeline-sec .container ol.ps-timeline >li .ps-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}
.ps-timeline-sec .container ol.ps-timeline >li .ps-bot {

    margin-top: 10px;
    color: #fff;
}
.ps-timeline-sec ol.ps-timeline >li .ps-bot li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 15px;
    font-size: 19px;
}
.ps-timeline-sec ol.ps-timeline >li .ps-bot li:before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0px;
    top: 6px
}
@media only screen and (min-width: 375px) {
    footer a, footer p{
        font-size: 14px;
    }
    
    h3.title:before{
        top: -13px;
    }
}
@media only screen and (min-width: 321px) {
    .top-link{

        padding: 5px 10px;

    }
}

@media only screen and (min-width: 460px) {
    .ntf-banner .btn-video{
        bottom: 0px;
    }
}

@media only screen and (min-width: 576px) {
    .container, .container-sm{
        max-width: 100%;
    }
}

@media only screen and (min-width: 480px) {
    footer a, footer p{
        font-size: 14px;
    }

}

@media only screen and (min-width: 768px) {
    .ntf-table table{
        margin-right: 20px;
        width: calc(55% - 20px);
    }
    .ntf-table .img-faq{
        width: 45%;
    }
    .links-footer img,.social-footer img,.social-footer img,.download-app .title img{
        width: auto;
    }

    footer .social li a span{
        zoom: 1;
    }
    .list-member .item {
        width: 33.33%;
    }

    .heroes-summary h5{
        font-size: 50px;
        margin-bottom: 35px;
    }
    .heroes-content .illustration-img{
        width: 40%;
    }
    .heroes-content .right-content{
        width: calc(60% - 20px);
    }
    .h3.title{
        zoom: 1;
    }
    .top-link .logo{
        width: 256px;
        top: 48px;
    }
    .top-link .link a{
        margin-right: 58px;
        font-size: 22px;
    }
    .top-link .link a:after{
        right: -30px;
        height: 45px;
        top: -4px;
    }
    .top-link button{
        width: 125px;
    }
    .ntf-land-survival .img-gunner{
        width: 38%;
        text-align: right;
        position: relative;
        top: -50px;
    }
    .ntf-land-survival .left-content{
        width: 62%;
    }
    .ntf-land-survival .left-content p,.reward h5,.reward p,footer a, footer p,.ntf-table table td,.heroes-summary p{
        font-size: 16px;
    }
    .reward h5{
        font-weight: bold;
    }
    .reward .img-reward{
        width: 33.33%;
    }
    .reward .img-reward img{
        width: 75%;
        text-align: center;
    }
    .reward .img-reward p{
        width: 85%;
        margin: 0 auto;
    }
    h3.title{
        margin-top: 60px;
        margin-bottom: 60px;

    }
    .ps-timeline-sec h3.title{
        margin-bottom: 110px;
    }
    h3.title img{
        width: auto!important;
    }
    h3.title:before{
        zoom: 1;
        top: -26px;
    }
    .dark-land-survival{
        padding-top: 40px;
    }
    .btn-download a{
        margin-right: 15px;
    }
    .js-modal-btn,.btn-scroll{
    	max-width: 45px;
    }
    .ntf-banner .btn-video{
    	margin-left: -22.5px;
    }
    .ntf-banner .img-mobie-banner{
        display: none;
    }
    .dark-land-survival h3.title img.land-mobi{
        display: none;
    }
    #footer .btn-download a img{
        max-width: 129px;
    }
    .game-play .owl-carousel.owl-drag .owl-item .item img:nth-of-type(2){
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .news-slider p,.ntf-land-survival .left-content p,.reward h5,.reward p,footer a, footer p,.ntf-table table td,.heroes-summary p{
        font-size: 21px;
    }
    .list-member .item p{
        font-size: 18px;
    }
    .top-link .logo{
        top: 30px;
    }
    .ntf-table table td{
        padding: 17px 30px;
        min-width: 210px;
    }
    .big-token .ntf-table table td{
        padding: 10px 30px;
        vertical-align: middle;
    }
    .header-bottom{
        height: 63px;
    }
    .btn-download{
        margin-top: 40px;
    }
    .reward{
        margin-top: 100px;
    }
    .faq{
        padding-bottom: 130px;
    }
    .news-slider p{
        padding: 0px 37px 10px 37px;
    }
    .heroes-summary{
        padding-left: 10px;
    }
    .big-token{
        padding: 20px 0px;
    }

    .reward .img-reward.middle p{
        width: 80%;
        margin: 0 auto;
    }
    .big-token .ntf-table table{
        margin-right: 5px;
        width: calc(58% - 5px);
    }
    .big-token .ntf-table .img-faq{
        width: 42%;
        margin-top: -95px;
    }
    .js-modal-btn, .btn-scroll{
    	max-width: 60px;
    }
    .ntf-banner .btn-video{
    	margin-left: -30px;
    }
}

@media only screen and (min-width: 1024px) {
    footer{
        padding: 90px 0px 160px 0px;
    }
    .links-footer,.social-footer,.social-footer,.download-app,.logo-footer{
        width: auto;
    }
    .logo-footer{
        text-align: left;
    }
    .download-app p{
        max-width: 235px;
    }
}
@media only screen and (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1124px;
    }
    .reward .img-reward img{
        width: auto;

    }
    .reward .img-reward p{
        width: 100%;
    }
    .js-modal-btn, .btn-scroll{
    	max-width: 70px;
    }
    .ntf-banner .btn-video{
    	margin-left: -35px;
    }
}
@media only screen and (min-width: 1366px) {
   
    .js-modal-btn, .btn-scroll{
    	max-width: 80px;
    }
    .ntf-banner .btn-video{
    	margin-left: -40px;
    }
}
@media only screen and (max-width: 1023px) {
    .download-app .btn-download{
        flex-wrap: wrap;
        text-align: center;
    }
    .download-app .btn-download a{
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }
    .ntf-banner .btn-video{

    }
}


@media screen and (min-width: 768px) and (max-width: 1199px){
    .big-token .ntf-table table td{
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    .ps-timeline-sec .container ol.ps-timeline {
        border-left: 3px solid #fff;
        padding-left: 0;
        padding-top: 50px;
        border-top: 0;
        margin:0 auto;
        max-width:510px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li {
        height: 220px;
        float: none;
        width: inherit;
        padding-top: 10px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li:nth-child(2) .img-handler-bot img {
        width: 70px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li:last-child {
        margin: 0;
        bottom: 0;
        height: 120px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li:last-child .img-handler-bot {
        bottom: 40px;
        width: 40%;
        margin-left: 25px;
        margin-top: 0;
    }
    .ps-timeline-sec .container ol.ps-timeline >li:last-child .img-handler-bot img {
        width: 100%;
    }
    .ps-timeline-sec .container ol.ps-timeline >li:last-child .ps-top {
        margin-bottom: 0;
        top: 20px;
        width: 50%;
    }
    .ps-timeline-sec .container ol.ps-timeline >li span {
        left: -2px;
        top: -25px;
    }
    .ps-timeline-sec{
        margin-bottom: 50px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top {
        width: 160px;
        margin-left: 15px;
        top: -29px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top img {
        margin: 0 auto;
        width: 80%;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .img-handler-bot {
        width: 30% ;
        margin-left: 35px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li p {
        font-size: 20px;
    }

    .ps-timeline-sec .container ol.ps-timeline >li .ps-top {
        width: 60%;
        float: right;
        right: 0;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .ps-bot {
        width: 60%;
        left: 187px;
    }
    .ps-timeline-sec ol.ps-timeline >li .ps-bot li{
        margin-bottom: 10px;
        font-size: 17px;
    }

    .reward .img-reward h5{
        font-size: 30px;
        margin-top: 0px;
    }
    .reward .img-reward p{
        font-size: 20px;
    }
    .ntf-land-survival .left-content{
        width: 57%;
        margin-bottom: 0px;
    }
    .ntf-land-survival .left-content p{
        font-size: 20px;
    }
    .ntf-land-survival .img-gunner{
        width: 43%;
    }
    .ntf-land-survival .btn-download{
        margin-top: 35px;
    }
    .ntf-land-survival .btn-download a{
        margin-right: 15px;
    }
    .ntf-table .img-faq{
        display: none;
    }
    .big-token .ntf-table table td{
        font-size:20px;
    }
    .big-token h3.title{
        margin-top: 60px;
    }
    .game-heroes{
        padding-top:100px;
    }
    .heroes-content .right-content{
        margin-top:20px;
    }
    .heroes-content .illustration-img img.active{
        margin: 0 auto;
    }
    .heroes-content .illustration-img,.game-heroes .wrap-slider{
        max-width: 598px;
        margin:0 auto;

    }
    .ps-timeline-sec h3.title{
        margin-top:60px;
    }
    .heroes-content{
        margin:0 auto;
        margin-bottom: 80px;
    }
    .game-play h3.title{
        margin-bottom: 60px;
    }
    .game-heroes .btns-slider{
        text-align: center;
    }
    .heroes-content .customNextBtn{
        position: relative;
    }
    .heroes-summary h5{
        font-size:50px;
        text-align: center;
    }
    .heroes-summary p{
        font-size:20px;
        text-align: justify;
    }
    .ps-timeline-sec .container ol.ps-timeline >li.active{
        border-top:none;
        border-left:3px solid #ffe879;
        left:-3px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li p{
        font-size:35px;
    }
    .ps-timeline-sec ol.ps-timeline >li .ps-bot li{
        font-size:20px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .ps-bot{
        position: absolute;
        top:-30px;
    }
    .list-member .item{
        width:50%;
        padding-bottom: 40px;
    }
    .list-member .item h4{
        font-size: 24px;
    }
    .list-member .item p{
        font-size:20px;
        margin-bottom: 0px;
    }
    .list-member{
        justify-content:space-around;
    }
    .faq{
        padding-bottom: 120px;
    }
    .logo-footer img{
        display: none;
    }
    .logo-footer{
        margin:0px;
        order: 4;
    }
    .links-footer{
        order: 1;
    }
    .social-footer{
        order:2;
    }
    .download-app{
        order: 3;
    }
    footer .title{
        margin-bottom: 25px;
    }
    footer .links li{
        margin-bottom: 10px;
    }
    footer a, footer p,.news-slider p{
        font-size: 20px;
    }
    .top-link{
        height: 67px;
        padding-top:0px;
    }
    .top-link .logo{
        display: none;
    }
    .top-link .link{
        width: 100%;
    }
    .top-link .link{
        max-width: 657px;
        display: flex;
        margin:0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .top-link .link a{
        font-size:27px;
    }
    .top-link .link a:after{
        height: 48px;
        top:-3px;
        right:-40px
    }
    .top-link .link a.active:after{
        right:-12px;
    }
    h3.title{
        margin-bottom: 50px;
    }
    h3.title:before{
        top:-24px;
    }
    .ntf-table table td{
        padding: 25px 35px;
        font-size: 21px;
    }
    .our-advisors h3.title{
        margin-top: 70px;
    }
    .header-bottom{
        height: 67px;
    }
    .ntf-banner .img-mobie-banner{
        display: block;
    }
    .ntf-banner .img-banner{
        display: none;
    }
    .ntf-banner .btn-video{
        margin-left: -55px;
    }
    .dark-land-survival h3.title img.land{
        display: none;
    }
    .dark-land-survival h3.title img.land-mobi{
        display: block;
    }
    .dark-land-survival{
        padding-top: 60px;
    }
    .news-slider p{
        position: absolute;
        bottom: 0px;
        margin-bottom: 0px;
        background: #42392f;
        padding: 20px;
    }
    .news-slider .item img{
        margin-bottom: 0px;
    }
    .game-play .owl-carousel.owl-drag .owl-item .item img:first-of-type{
        display: none;
    }
    .game-play .owl-carousel.owl-drag .owl-item .item img:nth-of-type(2){
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .ps-timeline-sec .container ol.ps-timeline{
        margin-left:15px;
    }
    .top-link .link a:after{
        right: -10px;
        top: -7px;
    }
}
@media screen and (max-width: 576px) {
    .ps-timeline-sec .container ol.ps-timeline{
        margin-left:15px;
    }
    .top-link .link a{
        font-size: 21px;
    }
    .news-slider p{
        position: relative;
    }
    .list-member .item p{
        font-size: 16px;
    }
    .ntf-table table td{
        padding: 15px;
    }
    .ntf-land-survival .btn-download a{
        margin-right: 5px;
    }
    .dark-land-survival,.game-heroes{
        padding-top: 30px;
    }
    .heroes-content{
        margin:0 auto;
        margin-bottom: 20px;
        width: 90%;
    }
    .faq{
        padding-bottom: 40px;
    }


}
@media screen and (max-width: 500px) {
    .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top{
        width:30%;
    }
    .ps-timeline-sec .container ol.ps-timeline >li p{
        font-size:24px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .ps-bot{
        left:auto;
        right:0px;
        top:-22px;
    }
    .ps-timeline-sec ol.ps-timeline >li .ps-bot li{
        font-size: 14px;
    }
    .ps-timeline-sec .container ol.ps-timeline >li .img-handler-top{
        top:-18px;
    }
    footer a, footer p,.ntf-table table td,.list-member .item p,.ntf-land-survival .left-content p,.reward .img-reward p,.big-token .ntf-table table td,.heroes-summary p,.news-slider p,.ps-timeline-sec ol.ps-timeline >li .ps-bot li{
        font-size: 14px;
    }
    .list-member .item h4{
        font-size: 20px;
    }
    .news-slider p{
        padding:10px;
    }
    .heroes-summary h5{
        font-size: 35px;
    }
    .reward .img-reward h5{
        font-size:25px;
    }
}
@media screen and (max-width: 479px) {
    .ps-timeline-sec .container ol.ps-timeline >li p{
        width: 100%;
    }
    .top-link .link a{
        font-size: 17px;
    }
    .top-link button{
        width: 100px;
        margin-top: 6px;
    }
    .top-link .link a:after{
        top: -12px;
    }
    .ntf-banner .btn-video img{
        width: 70px;
    }
    .ntf-banner .btn-video{
        margin-left: -35px;
    }
    footer a, footer p{
        font-size: 14px;
    }
    .links-footer .title img{
        zoom: 0.7;
    }
    h3.title.reduce-token img{
        width: 220px;
    }
    h3.title.reduce-heroes img{
        width: 150px;
    }
    h3.title.reduce-gameplay img{
        width: 175px;
    }
    h3.title.reduce-newsupdate img{
        width: 200px;
    }
    h3.title.reduce-team img{
        width: 175px;
    }
    h3.title.reduce-advisors img{
        width: 200px;
    }
    h3.title.reduce-faq img{
        width: 80px;
    }
    .ps-timeline-sec h3.title img{
        width: 160px;
    }
    h3.title:before{
        zoom: 0.8;
    }
    .customPreviousBtn, .customNextBtn{
        zoom:0.6;
    }
    .game-play .btns-slider, .game-heroes .btns-slider{
        margin-top:10px;
    }
    h3.title{
        padding-left: 75px;
    }

}
@media screen and (max-width: 400px) {
    .list-member .item{
        width:100%;
    }
    .top-link .link a{
        font-size: 15px;
    }
    .top-link button{
        width: 82px;
    }
    .ntf-table table td{
        padding: 15px;
        font-size: 16px;
    }
    .news-slider p{
        font-size: 16px;
    }
    .ntf-land-survival .left-content,.ntf-land-survival .img-gunner{
        width: 100%;
    }


}
.modal-video-body {
    max-width: 1200px;
}